@import "../../../theme";

.bar {
  position: relative;
  height: 2.1rem;
  width: 100%;
  max-width: 100rem;
  border-radius: 99999px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - .5rem);
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    height: 1.3rem;
    border-radius: 99999px;
    background-color: getcolor($primary, 200);
    z-index: 0;
  }

  .svg {
    position: absolute;
    height: 2.1rem;
    top: 50%;
    transform: translateY(-50%) translateX(-1.3rem);
    cursor: pointer;
    z-index: 1;

    circle {
      fill: getcolor($primary, 800);
    }

    path, .circleBig {
      fill: getcolor($primary, 200);
      transition: transform .5s;
      transform: scale(0);
      transform-origin: center center;
    }

    &:hover, 
    &:active {
      path,
      .circleBig {
        transition: transform .3s;
        transform: scale(1);
      }

      path.customScaleRight.useCustomScale {
        transition: transform .1s;
        transform: scale(var(--progressbar-custom-scale-right));
      }

      path.customScaleLeft.useCustomScale {
        transition: transform .1s;
        transform: scale(var(--progressbar-custom-scale-left));
      }
    }
  }
}