.wrapper {
  width: 100%;
  max-width: 52rem;
  height: 100%;
  margin: auto;
  padding: 2.1rem;
  overflow-y: scroll;
}
.lesson {
  + .lesson {
    margin-top: 2.1rem;
  }
}
.songCard {
  + .songCard {
    margin-top: 0.8rem;
  }
}
.skill {
  + .skill {
    margin-top: 3.4rem;
  }
}
.skillTitle {
  font-weight: 100;
  margin: 0;
}
.lessonTitle {
  margin: 2.1rem 0 1.3rem;
  color: #777;
  font-size: 1.6rem;
}
