{
 "extends": [
  "stylelint-config-standard-scss", 
  "stylelint-config-prettier-scss",
  "stylelint-config-tailwindcss"
],
 "rules": {
   "string-quotes": "double",
   "selector-class-pattern": null
  }
}