.card {
  font-size: 1.6rem;
  min-width: 32rem;
  width: 100%;
  max-width: 52rem;
  margin: auto;
  padding: 0.8rem 1.3rem;
  background-color: #0c0c0c;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;

  * {
    margin: 0;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 0 17ch;
  @media screen and (min-width: 1024px) {
    flex: 0 0 20ch;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border-radius: 3.4rem;
  padding: 0.5rem 1.3rem;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: inherit;
  border: 0;
  background: #22292e;
  color: #f2f2f2;
  cursor: pointer;
  text-transform: lowercase;

  @media screen and (min-width: 1024px) {
    font-size: 1.4rem;
  }

  .icon {
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }
  &:hover {
    background: rgba(58, 58, 58, 0.5);
  }
}

.title {
  font-size: 1rem;
  font-weight: 100;
  color: #ffd700;
  @media screen and (min-width: 1024px) {
    font-size: 1.4rem;
  }
}

.partialLyric {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  @media screen and (min-width: 1024px) {
    font-size: 1.8rem;
  }
}
