.card {
  font-size: 1.6rem;
  background: #222;
  width: 32rem;
  margin: auto;
  padding: 0.8rem;
  text-align: left;

  * {
    margin: 0;
  }
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-top: 1.3rem;
}
.button {
  display: inline-flex;
  align-items: center;
  border-radius: 3.4rem;
  padding: 0.5rem;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: inherit;
  border: 0;
  background: rgb(73, 73, 73);
  color: #f2f2f2;
  cursor: pointer;
  .icon {
    font-size: 1.4rem;
  }
  &:hover {
    background: rgba(58, 58, 58, 0.5);
  }
}

.partialLyric {
  font-weight: 100;
}
.title {
  font-size: 1.2rem;
  font-weight: 400;
}
