@import "../../../theme";

.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: color($neutral, 800);
  padding: 6.8rem 1.3rem 14.4rem;
  font-size: 2.1rem;
  line-height: 3.4rem;
  overflow-y: scroll;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.2rem;
  padding: 0 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: color($neutral, 800);
  z-index: 1;
  border-bottom: 0.1rem solid color($primary, 900);

  .optionsWrapper {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    height: 100%;
  }
}
.button {
  font-size: 3.4rem;
  color: color($primary, 400);
  background: transparent;
  cursor: pointer;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  .icon {
    font-size: inherit;
  }
}

.sheetsWrapper {
  max-width: 100rem;
  margin: auto;
  background-color: color($primary, 50);

  .sheetsPage {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    mix-blend-mode: multiply;
  }
}
.lyricsWrapper {
  width: 100%;
  max-width: 42rem;
  margin: auto;
}
