@import "../../../theme";

$linkColor: color($neutral, 300);
$activeLinkColor: color($primary, 400);

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4rem;
  border-bottom: 0.1rem solid color($neutral, 900);
  background: color($neutral, 800);
  transition: top 0.3s;
}

.list {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}

.link {
  text-decoration: none;
  color: $linkColor;
  font-size: 1.2rem;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: $activeLinkColor;
    position: absolute;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  &:visited {
    color: $linkColor;
  }

  &.active {
    box-shadow: none;
    color: $activeLinkColor;
  }
  &.active::after {
    transform: scaleX(1);
  }
}
