.lyrics {
  width: 100%;
  background: #0c0c0c;
  top: 0;
  right: 0;
  z-index: 0;
  padding: 8.9rem 2.1rem 14.4rem;
  font-size: 2.1rem;
  line-height: 3.4rem;
  overflow-y: scroll;
  position: fixed;
  height: 100vh;

  @media screen and (min-width: 1024px) {
    max-width: 42rem;
    height: initial;
    position: relative;
  }
}

.button {
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
  border: 0;
  color: #f2f2f2;
  background: #333;
  font-size: 1.6rem;
  padding: 1.3rem;
  cursor: pointer;
}
