@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkest: #030712;
  --lightest: #f9fafb;

  --foreground-rgb: var(--darkest);
  --background-rgb: var(--lightest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--lightest);
    --background-rgb: var(--darkest);
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
