@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkest: #09090b;
  --lightest: #fafafa;

  --foreground-rgb: var(--darkest);
  --background-rgb: var(--lightest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--lightest);
    --background-rgb: var(--darkest);
  }
}

body {
  color: var(--lightest);
  background: var(--darkest);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
