@use "sass:color";
@import "../../../theme/";

.grid {
  display: grid;
  overflow: hidden;
  grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
  transition: height .3s;
  width: 100%;
}

.main {
  overflow: hidden;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) auto;

  @media (min-width: 900px){
    grid-template-columns: 32rem auto;
    grid-template-rows: none;
    height: 100%;
  }

  .guides {
    padding: 3.4rem 1.3rem;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (min-width: 900px){
      height: 100%;
      width: 100%;
      padding: 3.4rem 3.4rem 3.4rem 1.3rem;
    }

    .moduleHead {      
      display: flex;
      align-items: center;
      justify-content: space-between;

      .moduleImage {
        width: 5rem;
        border-radius: 50%;
      }

      .moduleTitle {
        color: getcolor($secondary, 400);
      }
    }

    .songTitle {
      margin: 0; 
      text-transform: none;
    }

    .instructions {
      text-transform: none;
      max-width: 72ch;
    }
  }

  .lessons {
    padding: 3.4rem 1.3rem 1.3rem;
    width: 100%;
    overflow: hidden;
    @media (min-width: 900px){
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-left: 3.4rem;
    }
  }
}

.player {
  width: 100%;
  max-width: 100vw;
}