@import "../../../theme/";

$max-width: 60rem;

.grid {
  display: grid;
  overflow: hidden;
  grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
  transition: height .3s;
}

.header {
  position: relative;
  z-index: 1;
}

.main {
  position: relative;
  padding: 2.1rem 1.3rem;
  overflow-y: scroll;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, getcolor($neutral, 900), getcolor($neutral, 800));
    opacity: 0.9;
    z-index: 0;
  }

  * {
    position: relative;
    z-index: 1;
  }
}

.hero {
  text-align: left;
  max-width: 60rem;
  margin: auto;

  h1 {
    letter-spacing: -.09em;
    font-weight: 900;
    text-transform: none;
    color: getcolor($primary, 100);
    display: inline-block;
    font-size: 5.5rem;
    text-align: left;
    padding-right: 8px;
    margin: 0;

    @media(min-width: 1024px){
      font-size: 8.9rem;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 2;
    text-align: left;
    margin: auto;
    text-transform: none;

    + p {
      margin-top: 1.3rem;
    }
  }
}

.lessons {
  display: block;
  margin: 5.5rem auto 0;
  max-width: $max-width;
  line-height: 1;
}

.details {
  width: 100%;
  margin: auto;
  text-align: left;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: getcolor($primary, 100);
  
  summary {
    font-size: 2.1rem;
    cursor: pointer;
    margin-bottom: 1.3rem;
    color: getcolor($primary, 300);
  }

  h3 {
    color: getcolor($primary, 200);
    text-transform: none;
    margin-top: 2.1rem;
  }

  img {
    max-width: 100%;
    margin: 0 0 2.1rem;
  }
}

.player {
  width: 100%;
  max-width: 100vw;
}