@import "../../../theme/";

$max-width: 60rem;


.grid {
  display: grid;
  overflow: hidden;
  grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
  transition: height .3s;
}

.main {
  position: relative;
  z-index: 1;
  padding: 2.1rem 1.3rem;
  overflow-y: scroll;

  @media (min-width: 900px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.1rem;
  }

  * {
    position: relative;
    z-index: 1;
  }

  .aboutText {
    p {
      font-size: 1.6rem;
      line-height: 2;
      text-align: left;
      margin: 1.3rem auto 0;
      text-transform: none;
      letter-spacing: .02em;
      margin-top: 1.3rem;
      font-weight: 400;
    }
  }

  .hero {
    text-align: left;
    max-width: $max-width;
    
    @media (min-width: 900px){
      padding: 0 2.1rem;
    }

    h1 {
      letter-spacing: -.05em;
      color: getcolor($neutral, 500);
      display: inline-block;
      font-size: 3.4rem;
      text-align: left;
      margin: 5.5rem 0 0;
      line-height: 1;
      font-weight: 100;
      text-transform: lowercase;
  
      @media(min-width: 1024px){
        font-size: 5.5rem;
      }
    }

    .aboutText {
      display: none;

      @media (min-width: 900px) {
        display: block;
      }
    }
  }

  .lessons {
    display: block;
    margin: 5.5rem auto 0;
    max-width: $max-width;
    width: 100%;
    line-height: 1;

    .aboutText {
      margin-top: 5.5rem;
      display: block;
      @media (min-width: 900px) {
        display: none;
      }
    }
  }
}

.details {
  width: 100%;
  margin: auto;
  text-align: left;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: getcolor($primary, 100);
  
  summary {
    font-size: 2.1rem;
    cursor: pointer;
    margin-bottom: 1.3rem;
    color: getcolor($primary, 300);
  }

  h3 {
    color: getcolor($primary, 200);
    text-transform: none;
    margin-top: 2.1rem;
  }

  img {
    max-width: 100%;
    margin: 0 0 2.1rem;
  }
}

.player {
  width: 100%;
  max-width: 100vw;
  position: relative;
  z-index: 2;
}