@import "../../../theme/";

.grid {
  display: grid;
  overflow: hidden;
  grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
  transition: height .3s;
}

.hero {
  text-align: center;

  p {
    font-size: 1.4rem;
    text-align: left;
    max-width: 80ch;
    margin: auto;
    text-transform: none;

    + p {
      margin-top: 1.3rem;
    }
  }
}

.main {
  padding: 2.1rem 1.3rem;
  display: block;
  overflow-y: scroll;
}

.lessons {
  display: block;
  margin-top: 5.5rem;
  line-height: 1;
}

.details {
  width: 100%;
  max-width: 80ch;
  margin: auto;
  text-align: left;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: color($primary, 100);
  
  summary {
    font-size: 2.1rem;
    cursor: pointer;
    margin-bottom: 1.3rem;
    color: color($primary, 300);
  }

  h3 {
    color: color($primary, 200);
    text-transform: none;
    margin-top: 2.1rem;
  }

  img {
    max-width: 100%;
    margin: 0 0 2.1rem 0;
  }
}

.player {
  width: 100%;
}