@use "sass:color";
@import "../../../theme";

.card {
  font-size: 1.6rem;
  width: 100%;
  max-width: 52rem;
  margin: auto;
  padding: 0.8rem 1.3rem;
  background-color: getcolor($neutral, 900);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  border: 0;
  transition: background-color 0.3s;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;

  * {
    margin: 0;
  }

  .title {
    font-size: 1.6rem;
    color: getcolor($neutral, 200);
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: .03em;
  
    &.minimal {
      font-size: 1.2rem;
    }
  }

  &.selected {
    background-color: getcolor($primary, 700);

    .title {
      color: getcolor($primary, 100);
    }
  }

  &:hover {
    background-color: color.change(getcolor($neutral, 900), $alpha: 0.6);
  }

  &:visited {
    text-decoration: none;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 0 17ch;

  @media screen and (min-width: 1024px) {
    flex: 0 0 20ch;
  }
}



.partialLyric {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  font-style: italic;
  font-weight: 100;
  color: getcolor($primary, 300);
  text-transform: none;

  &.minimal {
    font-size: 1rem;
  }
}
