@import "../../../theme";

.wrapper {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  height: 100%;

  .option {
    height: 100%;
  }

  .option:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .option:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
