@import "../../../theme";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: color($primary, 700);
  font-size: 1.2rem;
  transform: translateY(-100%);
  height: 0;
  transition: transform .3s, height .3s, padding .3s;
  overflow: hidden;
  
  &.visible {
    transform: translateY(0%);
    height: 4rem;
    padding: 0.5rem 2.1rem;
  }

  .buttonsWrapper {
    display: flex;
    gap: 1.3rem;
  }

  .logo {
    display: block;
    height: 100%;
  }
  .cta {
    height: 3rem;
  }
  .closeIcon {
    font-size: 2.1rem;
  }
}
