$neutral: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);

$primary: (
  50: #f9f0ff,
  100: #efd6fe,
  200: #dcaefe,
  300: #c585fd,
  400: #af67fb,
  500: #8c35fa,
  600: #6f2dc2,
  700: #52268b,
  800: #351e53,
  900: #19171c,
);

$success: (
  100: #f6fecd,
  200: #ecfd9c,
  300: #ddf96a,
  400: #ccf445,
  500: #b4ed0b,
  600: #95cb08,
  700: #78aa05,
  800: #5d8903,
  900: #497102,
);

$info: (
  100: #cdfdee,
  200: #9bfce5,
  300: #69f8e2,
  400: #43f1e5,
  500: #09e4e8,
  600: #06b3c7,
  700: #0488a7,
  800: #026286,
  900: #01476f,
);

$warning: (
  100: #fff8da,
  200: #ffeeb5,
  300: #ffe290,
  400: #ffd775,
  500: #ffc447,
  600: #dba033,
  700: #b77e23,
  800: #935f16,
  900: #7a490d,
);

$danger: (
  100: #ffe7d3,
  200: #ffc9a8,
  300: #ffa47c,
  400: #ff805c,
  500: #ff4626,
  600: #db291b,
  700: #b71314,
  800: #930c17,
  900: #7a071a,
);

@function color($class, $value) {
  @return map-get($class, $value);
}
