$neutral: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
$primary: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
$secondary: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
$success: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
$info: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
$warning: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
$danger: (
  100: #f9f8f9,
  200: #f3f1f4,
  300: #dddbde,
  400: #bdbabe,
  500: #929094,
  600: #666468,
  700: #3f3e41,
  800: #262527,
  900: #0c0c0d,
);
@function getcolor($class, $value) {
  @return map-get($class, $value);
}
