@import "./index";

* {
  box-sizing: border-box;
}

html {
  font-size: 55.5%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: getcolor($neutral, 800);
  color: getcolor($neutral, 200);
  line-height: 1.61;
  scroll-behavior: smooth;

  @media (min-width: 360px) {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;

  * {
    font-weight: 300;
  }
}

button {
  font: inherit;
  letter-spacing: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;

  &:hover {
    width: 1rem;
    height: 1rem;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: getcolor($primary, 900);
  border-radius: 99999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: getcolor($primary, 600);

  /* Handle on hover */
  &:hover {
    background: getcolor($primary, 700);
  }
}