@import "./index";

* {
  box-sizing: border-box;
}

html {
  font-size: 55.5%;
  font-family: "Galano Grotesque Alt", "Helvetica Neue", "Helvetica",
    "Source Sans Pro", sans-serif;
  background-color: color($neutral, 800);
  color: color($neutral, 200);
  letter-spacing: 0.1rem;
  line-height: 1.61;
  scroll-behavior: smooth;
  text-transform: lowercase;

  @media (min-width: 360px) {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  letter-spacing: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;

  &:hover {
    width: 1rem;
    height: 1rem;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: color($primary, 900);
  border-radius: 99999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color($primary, 600);

  /* Handle on hover */
  &:hover {
    background: color($primary, 700);
  }
}