@import "../../../theme/";

.wrapper {
  text-transform: none;
  font-size: 1.4rem;
  padding: 2.1rem;
  z-index: 9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: color($primary, 900);

  p {
    margin: 0 auto 2.1rem;
    max-width: 50ch;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;

    p {
      margin: 0;
    }
  }
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}
