@import "../../../theme/";

.wrapper {
  width: 100%;
  max-width: 52rem;

  .lesson {
    + .lesson {
      margin-top: 2.1rem;
    }
  }

  .songCard {
    + .songCard {
      margin-top: 0.5rem;
    }
  }

  .skill {
    + .skill {
      margin-top: 5.5rem;
    }
  }

  .skillTitle {
    color: getcolor($primary, 100);
    font-size: 1.6rem;
    margin: 0 0 2.1rem;
  }

  .lessonTitle {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-transform: none;
  }

  &.horizontal {
    overflow-x: scroll;
    max-width: none;
    
    .horizontalWrapper {
      display: flex;
      padding: 0.5rem 0;

      .songCard {
        flex: 0 0 auto;
        margin: 0;
        width: auto;

        + .songCard {
          margin-left: .8rem;
        }
      }
    }

    .skillTitle,
    .lessonTitle {
      display: none;
    }
  }
}
