.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
}
.lessons {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
.player {
  flex: 1 1 auto;
}
