@use "sass:color";
@import "../../../theme";

.outerWrapper {
  width: 100%;
  position: relative;

  .playerOptions {
    @media (min-width: 900px) {
      position: absolute;
      width: 100%;
      top: 0;
      transform: translateY(-50%);
      opacity: 0;
      transition: transform .3s, opacity .3s;
      transition-timing-function: ease-in-out;
    }
  }
  
  &:hover, &.show {
    .playerOptions {
      @media (min-width: 900px) {
        transform: translateY(-100%);
        opacity: 1;
      }
    }
  }
}

.voiceTypesOptionsWrapper {
  background: color.change(getcolor($primary, 900), $alpha: 0.94);
  width: 100%;
  overflow-x: scroll;

  @media (min-width: 1024px) {
    overflow: hidden;
  }

  .voiceTypesOptions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem;

    &::after,
    &::before {
      content: "000";
      opacity: 0;
      pointer-events: none;
      margin: auto;
    }

    .option {
      flex: 0 0 auto;
    }
  }

  + .voiceTypesOptionsWrapper {
    .voiceTypesOptions {
      padding-top: 0;
    }
  }

  
}

.player {
  width: 100%;
  background: getcolor($primary, 800);
  border-top: 0.1rem solid getcolor($primary, 700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.3rem;
  position: relative;
  z-index: 1;
  height: 8rem;
  text-transform: none;

  @media (min-width: 500px) {
    justify-content: center;
    gap: 2.1rem;
  }

  button {
    flex: 0 1 auto;
    padding: 0;
  }
}

.playButtonIcon {
  font-size: 5.5rem !important;
}

.hiddenButton {
  opacity: 0;
  visibility: hidden;
}

.toggleButton {
  .active {
    color: getcolor($primary, 500);

    &:hover {
      color: getcolor($primary, 300);
    }
  }
}

.playbackRateLabel {
  position: relative;
  display: flex;
  justify-content: center;

  .playbackRateLabelText {
    position: absolute;
    bottom: -1.3rem;
    font-size: 1.2rem;
    text-align: center;
    transition: color 0.3s;
    color: getcolor($primary, 200);
    font-variant: small-caps;
    text-transform: lowercase;
  }

  .playbackRateIcon {
    font-size: 4rem;
    color: getcolor($primary, 200);
    transition: transform 0.3s, color 0.3s;
  }

  .playbackRateSelect {
    position: absolute;
    top: 0;
    z-index: 0;

    select {
      padding: 0;
      padding-top: 3.4rem;
      border: 0;
      height: 100%;
      transition: color 0.3s;
      cursor: pointer;
      opacity: 0.001;

      option {
        background: getcolor($primary, 700);
        padding: 0.5rem;
      }
    }
  }

  &:hover {
    .playbackRateIcon {
      transform: scale(1.05);
      color: getcolor($primary, 100);
    }

    .playbackRateLabelText {
      color: getcolor($primary, 100);
    }

    .playbackRateSelect {
      select {
        color: getcolor($primary, 100);
      }
    }
  }
}
