@import "../../../theme";

.audio {
  position: absolute;
  left: -99999px;
  opacity: 0;
}

.voiceTypesOptionsWrapper {
  background: color($primary, 900);
  width: 100%;
  border-top: 0.1rem solid color($primary, 700);
  overflow-x: scroll;

  .voiceTypesOptions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem;

    &::after,
    &::before {
      content: "000";
      opacity: 0;
      pointer-events: none;
      margin: auto;
    }

    .option {
      flex: 0 0 auto;
    }
  }
}

.player {
  width: 100%;
  background: color($primary, 800);
  border-top: 0.1rem solid color($primary, 700);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.1rem;
  padding: 0.5rem 1.3rem;
  position: relative;
  z-index: 1;
  height: 8rem;

  button {
    flex: 0 0 auto;
  }
}
.playButtonIcon {
  font-size: 5.5rem !important;
}
.hiddenButton {
  opacity: 0;
  visibility: hidden;
}
.toggleButton {
  .active {
    color: color($secondary, 500);

    &:hover {
      color: color($secondary, 300);
    }
  }
}
